body {
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
}

.number {
    margin-right:30px; 
    border: 2px solid purple;
    padding: 8px;
}

.container2 {
    padding:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 250px;
    height: 30px;
    border: 2px solid purple;
    display:flex;
    justify-content: center;
    align-items: center;
}

.count {
    width: 30px;
    height: 30px;
    border: 2px solid purple;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:30px; 
}